<div class="container-fluid">

    <div class="row">

        <div class="col-md-12 px-0">

            <div class="breadcrumb">

                <div class="breadcrumb-top">
                    <a class="breadcrumb-link">Home / </a>  <a class="breadcrumb-link">Dashboard</a>
                </div>

                <div class="breadcrumb-bottom">

                    <p class="breadcrumb-title">Contacts List</p>

                    <div>
                        <button class="breadcrumb-btn">+ New User</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="user-content">

                <div
                       infiniteScroll
                        [infiniteScrollDistance]="2"
                        (scrolled)="onScroll()"
                        [scrollWindow]="false"
                        class="user-container search-results">
                    
                    <ul class="user-list">
                        <li *ngFor="let contact of contactsList" class="user-item">
                            <div class="user-list-left">
                                <p>
                                    {{contact.name}}
                                </p>
                            </div>

                            <div class="user-list-left">
                                <p>
                                    {{contact.phone}}
                                </p>
                            </div>



                            <div class="user-list-left">
                                <img width="60px" [src]="contact.image" alt="contact-image">
                            </div>


                            <div class="user-list-left">
                                <p>
                                    {{contact.createdAt | date: 'medium'}}
                                </p>
                            </div>

                            <div class="user-list-left">
                                <p>
                                    {{contact.updatedAt | date: 'medium'}}
                                </p>
                            </div>

                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>
